{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-10">AFILIADOS</h1>
{% endblock %}


{% block contenido %}

<div class="container position-relative">
    <div class="row justify-content-center">
        <div class="col-xl-4">
            <br>
            <h3>Ingresar afiliado:</h3>
            <br>

            <form action="{% url 'afiliados' %}" method="POST"> {% csrf_token %}

                <table>
                    {{ form.as_table }}
                </table>
            <br>
            <input type="submit" value="Guardar datos">

            </form>
        </div>
    </div>
</div>

{{ mensaje }}

{% endblock %}
