{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-10"><b>Bienvenidos a la biblioteca!</b></h1>
{% endblock %}


{% block contenido %}

<div class="container position-relative">
    <div class="row justify-content-left">
        <div class="col-xl-8">
            <br>
            <h3>En este espacio podés: </h3>
                <br>
                <h4>
                <ul> 
                    <li>Ingresar libros en el sistema</li>
                    <li>Ingresar nuevos afiliados a la biblioteca</li>
                    <li>Registrar retiros de libros</li>
                    <li>Buscar libros en nuestra biblioteca</li>
                </ul>
                </h4>   
        </div>
    </div>
</div> 
{% endblock %}
