{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-10"><b>Bienvenidos a la biblioteca!</b></h1>
{% endblock %}


{% block contenido %}
<br>
<h2>En este espacio podés: </h2>
    <br>
    <h4>
    <ul> 
        <li>Ingresar libros al sistema</li>
        <li>Ingresar nuevos afiliados a la biblioteca</li>
        <li>Registrar retiros de libros</li>
        <li>Buscar libros en nuestra biblioteca</li>
    </ul>
    </h4>   
<br>
</br>


<div>
    <hr>
    <h3>Gracias por elegirnos</h3>
</div>
<br>
<br>

{% endblock %}



